.nav-menu {
  text-align : right;
  text-decoration : none;
}
.nav-spacing {
  text-decoration : none;
  margin : 0 0 0 10px;
}
.image-link {
  text-decoration: none;
}
td {
  padding: 10px;
}
.index-div {
  width : 500px;
  margin : 20px auto;
  background-color:#f2f5dc;
}
.tags-div {
  width : 800px;
  margin : 20px auto;
  background-color:#f2f5dc;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
